.container- {
    /* Zona de trabajo articulos */

    position: relative;
    width: 100%;
    height: 100vh;

    background-color: #D6F0F3;
    background-image: url("vectores_de_fondo/Vector_fondo_pantalla.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

.container_img1 {
    position: absolute;
    left: 29.6%;
    top: 1.53%;
}

#p_1 {
    /* Error interno del servidor (Error 500) */

    position: absolute;
    width: auto;
    height: auto;
    left: 31.35%;
    top: 35.48%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

#p_2 {
    /* Algo ha salido mal */

    position: absolute;
    width: auto;
    height: auto;
    left: 27.26%;
    top: 45.5%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

#p_3 {
    position: absolute;
    width: auto;
    max-width: 465px;
    height: auto;
    left: 27.26%;
    top: 55.52%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

.container_iconos {
    position: absolute;
    width: 4.67%;
    height: 18.34%;
    right: 1.95%;
    bottom: 3.4%;

    display: grid;
    align-content: stretch;
    justify-content: center;
}

/* modal */
/* ****************************************************************************************************** */

.modal {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.container_modal {
    position: relative;
    margin: auto;
    width: 46.84%;
    height: 51.27%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

#container_ico_info {
    position: absolute;
    left: 40.96%;
    right: 40.75%;
    top: 7.95%;
    bottom: 62.91%;
}

#container_ico_info img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#text {
    position: absolute;
    left: 5.82%;
    right: 5.61%;
    top: 37.42%;
    bottom: 12.25%;
}

#text p {
    width: 100%;
    height: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;

    margin: 0%;
    padding: 0%;
}

#btn_entendido {
    position: absolute;
    left: 69.85%;
    right: 4.16%;
    top: 83.77%;
    bottom: 6.81%;

    background: linear-gradient(180deg, #00B9CA 99.99%, rgba(0, 185, 202, 0.21) 100%);
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_entendido:hover {
    background: rgba(0, 117, 128, 0.982);
}

#btn_entendido:active {
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

@media (max-width: 757px) {
    .container {
        background-image: url("vectores_de_fondo/vector_fondo_pantalla3.svg");
    }

    .container_img1 {
        width: 97.9%;
        height: 24.09%;
        left: 0.59%;
        top: 1.16%;
    }

    .container_img1 img {
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }

    #p_1 {
        width: 90.19%;
        left: 5.14%;
        top: 32.72%;
    }

    #p_2 {
        max-width: 90.19%;
        left: 4.44%;
        top: 40.12%;
    }

    #p_3 {
        width: 90.19%;
        left: 4.44%;
        top: 45.52%;
    }

    .container_iconos {
        width: 11.21%;
        height: 12.69%;
        right: 4.67%;
        bottom: 9.99%;
    }

    .container_modal {
        width: 100%;
        height: 37.72%;
    }
}