.container {
    /* zona de tabajo registrar cliente */

    position: relative;
    width: 100%;
    height: 100vh;

    background: #FFFFFF;
    padding: 0%;
    margin: 0%;

    overflow: auto;
}

#titulo_superior {
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

#titulo_superior h1 {

    position: absolute;
    width: auto;
    height: auto;

    font-family: 'Comic Sans MS', 'cursive';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: 0%;
    padding: 0%;
}

form {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: 0%;
    padding: 0%;
}

.frame_f {
    width: 35.64%;
    height: 11.21%;
}

label {
    width: auto;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

input {
    box-sizing: border-box;

    width: 100%;
    height: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    background: none;
    border: 1.5px solid #acacac;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #C2DAFF;
    outline: 4.5px solid #C2DAFF;
}

.ubicacion_label {
    position: absolute;
    left: 0%;
    top: 0%;
}

.ubicacion_input_1 {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.f1 {
    position: absolute;
    left: 0.97%;
    top: 14.43%;
}

.f2 {
    position: absolute;
    left: 0.97%;
    top: 27.84%;
}

.f3 {
    position: absolute;
    left: 0.97%;
    top: 41.26%;
}

.f4 {
    position: absolute;
    height: 24.62% !important;
    left: 0.97%;
    top: 54.67%;
}

#idcanal_envio {
    position: absolute;
    left: 0%;
    top: 19.31%;
}

#label_script {
    position: absolute;
    left: 0%;
    top: 54.48%;
}

.f5 {
    position: absolute;
    left: 0.97%;
    top: 81.49%;
}

.f6 {
    position: absolute;
    left: 0.97%;
    top: 94.91%;
}

.f7 {
    position: absolute;
    height: 33.45% !important;
    left: 50.05%;
    top: 14.43%;
}

#idredaccion {
    height: 85.79% !important;
}

.f8 {
    position: absolute;
    left: 50.05%;
    top: 50.08%;
}

img {
    position: absolute;
    width: 21.03%;
    height: 36.67%;
    left: 57.35%;
    top: 60.27%;
}

.frame_b {
    position: absolute;
    width: 26.1%;
    height: 4.83%;
    left: 54.82%;
    top: 95.25%;
}

#btn_enviar {
    position: absolute;
    width: 46.64%;
    height: 100%;
    left: 0%;
    bottom: 0%;

    background: #00B9CA;
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_enviar:hover {
    background: rgba(0, 117, 128, 0.982);
}

#btn_enviar:active {
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

#btn_cancelar {
    position: absolute;
    width: 46.64%;
    height: 100%;
    right: 0%;
    bottom: 0%;

    background: #6c757d;
    box-shadow: 0px 2.87356px 2.87356px rgba(0, 0, 0, 0.6);
    border-radius: 7.18391px;
    border: #6c757d;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_cancelar:hover {
    background: #3f454b;
}

#btn_cancelar:active {
    background: #FFFFFF;
    color: #3f454b;
}

@media (max-width: 767px) {
    #titulo_superior {
        height: 8.23%;
    }

    #titulo_superior h1 {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
    }

    .frame_f {
        width: 85.51%;
        height: 7.76%;
    }

    .f1 {
        left: 2.34%;
        top: 10.34%;
    }

    .f2 {
        left: 2.34%;
        top: 19.62%;
    }

    .f3 {
        left: 2.34%;
        top: 28.91%;
    }

    .f4 {
        height: 17.04% !important;
        left: 2.34%;
        top: 38.19%;
    }

    .f5 {
        left: 2.34%;
        top: 56.76%;
    }

    .f6 {
        left: 2.34%;
        top: 66.04%;
    }

    .f7 {
        height: 24.21% !important;
        left: 2.34%;
        top: 75.32%;
    }

    .f8 {
        left: 2.34%;
        top: 101.06%;
    }

    img {
        width: 50.47%;
        height: 25.38%;
        left: 24.77%;
        top: 110.22%;
    }

    .frame_b {
        width: 62.62%;
        left: 14.95%;
        top: 137.6%;
    }
}