h1 {
    font-family: cursive;
    background-color: rgba(0, 117, 128, 0.982);
    color: whitesmoke;
  }

  .btn {
    font-family: cursive;
    color: whitesmoke !important;
  }

  .btn_color_1 {
    background-color: rgba(0, 117, 128, 0.982) !important;
  }