.container {
    /* Zona de trabajo articulos */

    position: relative;
    width: 100%;
    height: 100vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0%;
    padding: 0%;

    overflow: auto;
}

#titulo_superior {
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

#titulo_superior h1 {
    /* Artículos registrados */

    position: absolute;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;

    font-family: 'Comic Sans MS', 'cursive';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

section{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

h2{
    /* Notificación */

    position: absolute;
    width: auto;
    height: auto;
    left: 41.48%;
    top: 12.22%;
    right: 41.48%;
    bottom: 80.98%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31.9856px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F80A0A;

    margin: 0%;
    padding: 0%;
}

.menu{
    width: 30.07%;
    height: 16.98%;
}

.menu:hover{
    background-color: #E5E5E5;
    border: 2px solid #C2DAFF;
}

.menu1{
    position: absolute;
    left: 30.19%;
    top: 20.2%;
    right: 39.74%;
    bottom: 62.82%;
}

.menu2{
    position: absolute;
    left: 30.19%;
    top: 39.73%;
    right: 39.74%;
    bottom: 43.29%;
}

.menu3{
    position: absolute;
    left: 30.19%;
    top: 59.25%;
    right: 39.74%;
    bottom: 23.77%;
}

.menu4{
    position: absolute;
    left: 30.19%;
    top: 78.78%;
    right: 39.74%;
    bottom: 4.24%;
}

.menu1 img{
    /* Chat_Flat 1 */

    position: absolute;
    width: 32.7%;
    height: 101%;
    left: 0%;
    top: 0%;
}

.menu1 a{
    /* Notificacion proximo mantenimiento */

    position: absolute;
    width: auto;
    height: auto;
    left: 43.98%;
    top: 32%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #000000;
}

.menu2 img{
    /* Calendar_Outline 1 */

    position: absolute;
    width: 48.57%;
    height: 137%;
    left: -0%;
    top: -15%;
}

.menu2 a{
    /* Notificacion antes del mantenimiento */

    position: absolute;
    width: auto;
    height: auto;
    left: 43.98%;
    top: 32%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #000000;
}

.menu3 img{
    position: absolute;
    width: 31.09%;
    height: 96%;
    left: 2.27%;
    top: -8%;
}

.menu3 a{
    /* Notificacion vehículo revisado */

    position: absolute;
    width: auto;
    height: auto;
    left: 43.98%;
    top: 32%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #000000;
}

.menu4 img{
    /* Hand_Flat 1 */

    position: absolute;
    width: 32.38%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.menu4 a{
    /* Notificacion entrega del vehiculo */

    position: absolute;
    width: auto;
    height: auto;
    left: 43.98%;
    top: 32%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #000000;
}

#icono_lapiz{
    position: absolute;
    left: 69.13%;
    top: 11.04%;
    right: 25.12%;
    bottom: 78.95%;
}