.container{
    /* zona de tabajo interfaz marcas*/

    position: relative;
    width: 100%;
    height: 100vh;

    background-color: #FFFFFF;
    background-image: url("vectores_de_fondo/Vector_fondo_pantalla2.svg");
    background-repeat: no-repeat;
    background-size: 100%, 81.66vh;
    background-attachment: local;
    margin: 0%;
    padding: 0%;

    overflow: auto;
}

.titulo_superior{
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

.titulo_superior h1{

    position: absolute;
    width: auto;
    height: auto;

    font-family: 'Comic Sans MS', 'cursive';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;
}

h2{
    /* ¿Cómo podemos ayudarte? */

    position: absolute;
    width: auto;
    height: auto;
    left: 0.97%;
    top: 14.6%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.p1{
    position: absolute;
    width: auto;
    max-width: 41.38%;
    height: auto;
    left: 0.97%;
    top: 25.3%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.img1{
    position: absolute;
    width: 55.04%;
    height: 72.33%;
    left: 44.96%;
    top: 2.38%;
}

form{
    width: 100%;
    height: 100vh;
}

#idbuqueda_ayuda{
    position: absolute;
    width: 25.51%;
    height: 6.28%;
    left: 7.01%;
    top: 65.5%;

    background: #FFFFFF;
    border: 1.5px solid #acacac;
    border-radius: 5px;
}

#idbuqueda_ayuda:focus{
    border: 1px solid #C2DAFF;
    outline: 4.5px solid #C2DAFF;
}

#label_busqueda_ayuda{
    /* Nombre del software */

    position: absolute;
    width: auto;
    height: auto;
    left: 7.01%;
    top: 72.16%;

    font-family: 'Faster One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #473F47;
}

#btn_buscar{
    position: absolute;
    width: 9.15%;
    height: 4.83%;
    left: 33.11%;
    top: 65.84%;

    background: #00B9CA;
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_buscar:hover{
    background: rgba(0, 117, 128, 0.982);
}

#btn_buscar:active{
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

.img2{
    /* Frame 16 */

    position: absolute;
    width: 16.91%;
    height: 29.74%;
    left: 31.55%;
    top: 58.06%;
}

.cuadro{
    position: absolute;
    width: 29.89%;
    height: 42.78%;

    background: #F3F3F3;
}

.cuadro1{
    left: 2.04%;
    top: 92.19%;
}

.cuadro2{
    left: 35.05%;
    top: 92.19%;
}

.cuadro3{
    left: 68.06%;
    top: 92.19%;
}

.cuadro1 img{
    position: absolute;
    width: 56.24%;
    height: 52.38%;
    left: 21.82%;
    top: 8.33%;
}

.cuadro2 img{
    position: absolute;
    width: 61.48%;
    height: 52.78%;
    left: 19.22%;
    top: -1.59%;
}

.cuadro3 img{
    position: absolute;
    width: 39.93%;
    height: 49.74%;
    left: 32.38%;
    top: 7.05%;
}

.cuadro h3{
    position: absolute;
    width: auto;
    height: auto;
    left: 23.13%;
    top: 62.3%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #473F47;
}

.cuadro p{
    position: absolute;
    width: auto;
    max-width: 85.02%;
    height: auto;
    left: 7.49%;
    top: 73.02%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #3E3E3E;
}

#manual_titulo{
    /* Manual de usuario */

    position: absolute;
    width: 166px;
    height: 23px;
    left: 0.97%;
    top: 148.9%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

#descripcion1{
    position: absolute;
    width: auto;
    max-width: 49.76%;
    height: auto;
    left: 0.97%;
    top: 154.33%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: justify;

    color: #3E3E3E;
}

.menu_desplegable{
    position: absolute;
    width: 96.98%;
    height: 8.32%;

    background: #F3F3F3;
    border-radius: 5px;
    display: grid;
    align-items: center;
}

.menu_desplegable a{
    width: auto;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #473F47;
    text-decoration: none;
    margin: auto 0% auto 0%;
}

.menu_desplegable img{
    position: absolute;
    width: 2.41%;
    height: 48.98%;
    left: 94.08%;
    top: 24.49%;
}

.md1{
    left: 0.97%;
    top: 166.04%;
}
.md2{
    left: 0.97%;
    top: 175.89%;
}
.md3{
    left: 0.97%;
    top: 185.74%;
}
.md4{
    left: 0.97%;
    top: 195.59%;
}
.md5{
    left: 0.97%;
    top: 205.43%;
}
.md6{
    left: 0.97%;
    top: 215.28%;
}

#menu_preguntas{
    position: absolute;
    width: auto;
    height: auto;
    left: 0.97%;
    top: 232.09%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

#descripcion2{
    position: absolute;
    width: auto;
    max-width: 58.03%;
    height: auto;
    left: 0.97%;
    top: 237.52%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: justify;

    color: #3E3E3E;
}

.md7{
    left: 0.97%;
    top: 244.14%;
}

.md8{
    left: 0.97%;
    top: 253.99%;
}

.md9{
    left: 0.97%;
    top: 263.84%;
}

.md10{
    left: 0.97%;
    top: 273.68%;
}

.md11{
    left: 0.97%;
    top: 283.53%;
}

.md12{
    left: 0.97%;
    top: 293.38%;
}