#titulo_superior {
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

#titulo_superior h1 {
    /* Artículos registrados */

    position: absolute;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;

    font-family: 'Comic Sans MS', 'cursive';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

form {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    border: 1.5px solid #acacac;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #C2DAFF;
    outline: 4.5px solid #C2DAFF;
}

#label_buscar_articulo {
    /* Buscar artículos: */

    position: absolute;
    width: auto;
    height: auto;
    left: 0.97%;
    top: 14.26%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#idbuscar_articulo {
    box-sizing: border-box;

    position: absolute;
    width: 16.36%;
    height: 29px;
    left: 13.34%;
    top: 13.41%;

    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#label_filtrar {
    /* Filtrar: */

    position: absolute;
    width: auto;
    height: auto;
    left: 32.23%;
    top: 14.26%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#css_propiedades_filtro {
    box-sizing: border-box;

    position: absolute;
    width: 16.36%;
    height: 29px;
    left: 37.29%;
    top: 13.41%;

    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#btn_mostrar_filtro {
    position: absolute;
    width: 12.17%;
    height: 29px;
    left: 55.01%;
    top: 13.41%;

    background: #00B9CA;
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_mostrar_filtro:hover {
    background: rgba(0, 117, 128, 0.982);
}

#btn_mostrar_filtro:active {
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

.container_tabla {
    position: absolute;
    width: 100%;
    height: auto;
    /* left: 10px; */
    top: 22.92%;
    display: grid;
    justify-items: center;
    overflow: auto;
}

table {
    background-color: #FFFFFF;
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

th,
td {
    padding: 15px;
}

tbody tr {
    border-bottom: 1px solid #DCDCDC;
}

thead {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    color: #000000;
}

/* iluminar celdas */


tr:hover td {
    background-color: #E5E5E5;
}

table tbody tr td:nth-child(2) {
    font-weight: 700;
}

#btn_eliminar {
    /* position: absolute; */
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

#ancla {
    position: fixed;
    left: 93.96%;
    right: 1.99%;
    top: 89.47%;
    bottom: 3.46%;

    display: grid;
    justify-content: end;
}

@media (max-width: 767px) {
    #titulo_superior {
        height: 7.76%;
    }

    #titulo_superior h1 {
        font-size: 32px;
        line-height: 37px;
    }

    #label_buscar_articulo {
        /* Buscar: */
        width: 55px;
        left: 4.34%;
        top: 9%;
    }

    #idbuscar_articulo {
        width: 28.97%;
        left: 20.09%;
        top: 9.29%;
    }

    #label_filtrar {
        /* Filtrar: */

        left: 50.23%;
        top: 9.87%;
    }

    #css_propiedades_filtro {
        width: 28.97%;
        left: 61.92%;
        top: 9.29%;
    }

    #btn_mostrar_filtro {
        width: 6.7%;
        left: 91.22%;
        top: 9.29%;
    }

    .container_tabla {
        top: 13.51%;
    }

    #ancla {
        left: 85.51%;
        right: 4.77%;
        top: 85.08%;
        bottom: 10.04%;
    }
}