#titulo_superior {
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

#titulo_superior h1 {
    /* Proveedores registrados */

    position: absolute;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

form {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}


.label_buscar {
    /* Buscar proveedor: */

    position: absolute;
    width: auto;
    height: auto;
    left: 0.97%;
    top: 14.43%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#idVehTBusqueda {
    box-sizing: border-box;

    position: absolute;
    width: 16.36%;
    height: 29px;
    left: 13%;
    top: 13.58%;

    border: 1px solid #000000;
    border-radius: 10px;
}

#btn_mostrar_filtro {
    position: absolute;
    left: 29.5%;
    top: 13.41%;
}

input:focus {
    border: 1px solid #C2DAFF;
    outline: 4.5px solid #C2DAFF;
}

.container_tabla {
    position: absolute;
    width: 100%;
    height: auto;
    /* left: 10px; */
    top: 20%;
    display: grid;
    justify-items: center;

    overflow: auto;
}

table {
    background-color: #FFFFFF;
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

th,
td {
    padding: 15px;
}

tbody tr {
    border-bottom: 1px solid #DCDCDC;
}

thead {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    color: #000000;
}

/* iluminar celdas */


tr:hover td {
    background-color: #E5E5E5;
}

table tbody tr td:first-child {
    font-weight: 700;
}

.btn_mandar_al_taller {
    width: 24px;
    margin-left: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ancla {
    position: fixed;
    left: 93.96%;
    right: 1.99%;
    top: 89.47%;
    bottom: 3.46%;

    display: grid;
    justify-content: end;
}

@media (max-width: 767px) {
    #titulo_superior {
        height: 7.76%;
    }

    #titulo_superior h1 {
        font-size: 32px;
        line-height: 37px;
    }

    .label_buscar {
        left: 2.34%;
        top: 9.5%;
    }

    #idVehTBusqueda {
        width: 55%;
        left: 33%;
        top: 9.29%;
    }

    #btn_mostrar_filtro {
        left: 89%;
        top: 9.29%;
        z-index: 1;
    }

    .container_tabla {
        top: 13.51%;
    }

    #ancla {
        left: 85.51%;
        right: 4.77%;
        top: 85.08%;
        bottom: 10.04%;
    }
}

@media (max-width: 550px) {
    #titulo_superior {
        height: 110px;
    }

    #titulo_superior h1 {
        padding-top: 10px;
    }

    .label_buscar {
        left: 2.34%;
        top: 17.5%;
    }

    #idVehTBusqueda {
        width: 55%;
        left: 33%;
        top: 17%;
    }

    #btn_mostrar_filtro {
        left: 89%;
        top: 17%;
    }

    .container_tabla {
        top: 21.51%;
    }
}