.container {
    /* Zona de trabajo articulos */

    position: relative;
    width: 100%;
    height: 100vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0%;
    padding: 0%;

    overflow: auto;
}

#titulo_superior {
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

#titulo_superior h1 {
    /* Artículos registrados */

    position: absolute;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;

    font-family: 'Comic Sans MS', 'cursive';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: 0%;
    padding: 0%;
}

form {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}


.label_buscar {
    /* Buscar empleado: */

    position: absolute;
    width: auto;
    height: auto;
    left: 0.97%;
    top: 14.43%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#idBusquedaEmp {
    box-sizing: border-box;

    position: absolute;
    width: 16.36%;
    height: 29px;
    left: 14.22%;
    top: 13.58%;

    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.label_filtrar {
    /* Filtrar: */

    position: absolute;
    width: auto;
    height: auto;
    left: 33.11%;
    top: 14.43%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#css_propiedades_filtro {
    box-sizing: border-box;

    position: absolute;
    width: 16.36%;
    height: 29px;
    left: 38.17%;
    top: 13.58%;

    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#btn_mostrar_filtro {
    position: absolute;
    width: 12.17%;
    height: 29px;
    left: 55.01%;
    top: 13.58%;

    background: #00B9CA;
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_mostrar_filtro:hover {
    background: rgba(0, 117, 128, 0.982);
}

#btn_mostrar_filtro:active {
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

.container_tabla {
    position: absolute;
    width: 100%;
    height: auto;
    /* left: 10px; */
    top: 21.73%;
    display: grid;
    justify-items: center;

    overflow: auto;
}

table {
    background-color: #FFFFFF;
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

th,
td {
    padding: 15px;
}

tbody tr {
    border-bottom: 1px solid #DCDCDC;
}

thead {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    color: #000000;
}

/* iluminar celdas */


tr:hover td {
    background-color: #E5E5E5;
}

table tbody tr td:first-child {
    font-weight: 700;
}

/* ******************************************************************************************************* */
/* menu inferior desplegable */

nav {
    position: fixed;
    width: 47px;
    height: 161px;
    right: 1.95%;
    bottom: 4%;

}

nav ul li {
    /* width: 100%;
    height: 100%; */
    position: relative;
    float: left;
    margin: 0;
    padding: 0;

}

nav ul {
    width: 100%;
    height: 100%;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

nav ul ul li a:hover {
    outline: 4.5px solid #C2DAFF;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
}

nav ul li:hover>ul {
    display: block;
    visibility: visible;
    opacity: 1;
}

nav ul li>ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 5s linear;
}

nav #menu_lineas:hover {
    transform: rotate(-180deg);
    transition: 0.5s;
    outline: 4.5px solid #C2DAFF;
}

#menu_lineas {
    position: absolute;
    top: 113px;
}

#btn_admistrar {
    position: absolute;
    top: 15px;
    transform: none;
    /* transform: rotate(-180deg); */
}

#btn_añadir {
    position: absolute;
    top: 60px;
}

/* Modal */
/* ************************************************************************************************* */

.modal {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.container_modal {
    position: relative;
    margin: auto;
    width: 481px;
    height: 485px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.container_h2 {
    position: absolute;
    width: 481px;
    height: 38px;
    left: 0px;
    top: 0px;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container_h2 h2 {
    position: absolute;
    margin: auto;
    width: auto;
    height: auto;

    font-family: 'Comic Sans MS', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.container_cerrar {
    position: absolute;
    box-sizing: border-box;

    position: absolute;
    left: 92.31%;
    right: 3.53%;
    top: 23.68%;
    bottom: 23.68%;

    border: none;

    display: grid;
    place-items: center;
}

.container_cerrar a {
    /* X */

    position: absolute;
    width: auto;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15.8046px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#img_modal {
    position: absolute;
    width: 406px;
    height: 306px;
    left: 37px;
    top: 12px;
}

.btn {
    box-sizing: border-box;

    width: 366px;
    height: 29px;

    border: 1.5px solid #ACACAC;
    border-radius: 5px;
}

.btn:hover {
    background: #E5E5E5;
}

.btn_1 {
    position: absolute;
    left: 58px;
    top: 304px;
}

.btn_2 {
    position: absolute;
    left: 58px;
    top: 343px;
}

.btn_3 {
    position: absolute;
    left: 58px;
    top: 382px;
    height: 48px;
}

.btn_4 {
    position: absolute;
    left: 58px;
    top: 440px;
}

.propiedades_text {
    width: auto;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    text-decoration: none;
}

.btn_1 a {
    position: absolute;
    left: 71px;
    top: 5px;
}

.btn_2 a {
    position: absolute;
    left: 46px;
    top: 5px;
}

.btn_3 a {
    position: absolute;
    left: 0px;
    top: 5px;

    display: flex;
    align-items: center;
    text-align: center;
}

.btn_4 a {
    position: absolute;
    left: 67px;
    top: 5px;
}

@media (max-width: 767px) {
    #titulo_superior {
        height: 7.76%;
    }

    #titulo_superior h1 {
        font-size: 32px;
        line-height: 37px;
    }

    .label_buscar {
        /* Buscar: */
        width: 55px;
        left: 4.34%;
        top: 9%;
    }

    #idBusquedaEmp {
        width: 28.97%;
        left: 20.09%;
        top: 9.29%;
    }

    .label_filtrar {
        /* Filtrar: */

        left: 50.23%;
        top: 9.87%;
    }

    #css_propiedades_filtro {
        width: 28.97%;
        left: 61.92%;
        top: 9.29%;
    }

    #btn_mostrar_filtro {
        width: 6.7%;
        left: 91.22%;
        top: 9.29%;
    }

    .container_tabla {
        top: 13.51%;
    }

    nav {
        position: fixed;
        width: 47px;
        height: 161px;
        right: 7.67%;
        bottom: 9.99%;
    }

    .container_modal {
        width: 100%;
        height: 56.99%;
        background-color: #FFFFFF;
        border-radius: 20px;
    }

    .container_h2 {
        width: 100%;
        height: 7.84%;
    }

    #img_modal {
        width: 90.52%;
        height: 60.21%;
        left: 4.67%;
        top: 2.47%;
    }

    .btn_1 {
        left: 7.24%;
        top: 62.68%;
    }

    .btn_2 {
        left: 7.24%;
        top: 65, 72%;
    }

    .btn_3 {
        left: 7.24%;
        top: 78.76%;
    }

    .btn_4 {
        left: 7.24%;
        top: 90.72%;
    }
}