.container{
    position: relative;
    width: 100%;
    height: 100vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0%;
    padding: 0%;

    overflow: auto;
}

#titulo_superior{
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

#titulo_superior h1{
    /* Detalles de los artículos */

    position: absolute;
    width: auto;
    height: auto;

    font-family: 'Comic Sans MS', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;
}

.label_filtrar{
    /* Filtrar: */

    position: absolute;
    width: auto;
    height: auto;
    left: 0.97%;
    top: 14.43%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#css_propiedades_filtro{
    box-sizing: border-box;

    position: absolute;
    width: 16.36%;
    height: 29px;
    left: 6.04%;
    top: 13.58%;

    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

#btn_mostrar_filtro{
    position: absolute;
    width: 12.17%;
    height: 29px;
    left: 22.88%;
    top: 13.58%;

    background: #00B9CA;
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_mostrar_filtro:hover{
    background: rgba(0, 117, 128, 0.982);
}

#btn_mostrar_filtro:active{
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

.container_tabla{
    position: absolute;
    width: 100%;
    height: auto;
    /* left: 10px; */
    top: 21.73%;
    display: grid;
    justify-items: center;
}

table{
    background-color: #FFFFFF;
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

th, td{
    padding: 15px;
}

tbody tr{
    border-bottom: 1px solid #DCDCDC;
}

thead{
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    color: #000000;
}

/* iluminar celdas */

tr:hover td{
    background-color: #E5E5E5;
}

table tbody tr td:first-child{
    font-weight: 700;
}

.ancla{
    position: fixed;
    left: 93.96%;
    right: 1.99%;
    top: 89.47%;
    bottom: 3.46%;
}

/* Modal */
/* ******************************************************************************************************** */

.modal{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.container_modal{
    position: relative;
    margin: auto;
    width: 46.84%;
    height: 87.61%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.container_h2{
    position: absolute;
    width: 100%;
    height: 7.36%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
        
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container_cerrar{
    position: absolute;
    box-sizing: border-box;

    position: absolute;
    left: 92.31%;
    right: 3.53%;
    top: 23.68%;
    bottom: 23.68%;

    display: grid;
    place-items: center;
}

.container_cerrar a{
    /* X */

    position: absolute;
    width: auto;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15.8046px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #FFFFFF;
}


.container_modal h2{
    position: absolute;
    width: auto;
    height: auto;

    margin: 0%;
    padding: 0%;

    font-family: 'Comic Sans MS', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    
    transition: 3s;
}

#img1{

    position: absolute;
    width: 84.41%;
    height: 59.3%;
    left: 7.69%;
    top: 0%;
}

input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    background: none;
    border: 1.5px solid #acacac;
    border-radius: 5px;
}

input:focus{
    border: 1px solid #C2DAFF;
    outline: 4.5px solid #C2DAFF;
}

#label_cat_nombre{
    /* Nombre: */

    position: absolute;
    width: auto;
    height: auto;
    left: 11.85%;
    top: 48.84%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#idcat_nombre{
    box-sizing: border-box;

    position: absolute;
    width: 76.09%;
    height: 5.62%;
    left: 11.85%;
    top: 54.26%;
}

#labe_cat_descripcion{
    /* Descripción: */

    position: absolute;
    width: auto;
    height: auto;
    left: 11.85%;
    top: 62.4%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#idcat_descripcion{
    box-sizing: border-box;

    position: absolute;
    width: 76.09%;
    height: 15.89%;
    left: 11.85%;
    top: 67.83%;
}

#btn_guardar{
    position: absolute;
    width: 25.99%;
    height: 5.91%;
    left: 22.04%;
    top: 88.37%;

    background: #00B9CA;
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_guardar:hover{
    background: rgba(0, 117, 128, 0.982);
}

#btn_guardar:active{
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

#btn_cancelar{
    position: absolute;
    width: 25.99%;
    height: 5.91%;
    left: 51.77%;
    top: 88.37%;

    background: rgba(245, 90, 90, 0.937255);
    box-shadow: 0px 2.87356px 2.87356px rgba(0, 0, 0, 0.6);
    border-radius: 7.18391px;
    border: rgba(245, 90, 90, 0.937255);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#btn_cancelar:hover{
    background: rgba(245, 39, 39, 0.937);
}

#btn_cancelar:active{
    background: #FFFFFF;
    color: rgba(245, 39, 39, 0.937);
}