.container {
    position: relative;
    width: 100%;
    height: 100vh;

    background: #FFFFFF;
    margin: 0%;
    padding: 0%;

    overflow: auto;
}

.titulo {
    position: absolute;
    width: 100%;
    height: 10.53%;
    left: 0%;
    top: 0%;

    background: rgba(0, 117, 128, 0.982);

    display: grid;
    place-items: center;
}

h1 {
    /* Reporte semanal */

    position: absolute;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    padding-bottom: 8px;

    font-family: 'Comic Sans MS', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

form {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.filtro label {
    /* Filtrar: */


    position: absolute;
    width: auto;
    height: auto;
    left: 0.97%;
    top: 14.43%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

hr {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0%;
    top: 22.41%;

    background: #000000;
}

.filtro input {
    box-sizing: border-box;

    position: absolute;
    width: 23.37%;
    height: 4.92%;
    left: 7.89%;
    top: 13.58%;

    border: 1px solid #000000;
    border-radius: 10px;
}

.grafico1 h2 {
    position: absolute;
    width: auto;
    height: auto;
    left: 15.08%;
    top: 28.25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23.9715px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.grafico1 img {
    /* Grafico 1 */

    position: absolute;
    width: 49.15%;
    height: 49.69%;
    left: 0%;
    top: 35.54%;
}

.grafico2 h2 {
    position: absolute;
    width: auto;
    height: auto;
    left: 66.07%;
    top: 28.25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23.9715px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.grafico2 img {
    position: absolute;
    width: 48.66%;
    height: 49.69%;
    left: 51.17%;
    top: 35.54%;
}

#total1 {
    /* Total compras: */

    position: absolute;
    width: auto;
    height: auto;
    left: 3.6%;
    top: 86.93%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#num1 {
    position: absolute;
    width: auto;
    height: auto;
    left: 20.93%;
    top: 86.93%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#total2 {
    /* Total ventas: */

    position: absolute;
    width: auto;
    height: auto;
    left: 3.6%;
    top: 93.89%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#num2 {
    /* $1500000 Mill */

    position: absolute;
    width: auto;
    height: auto;
    left: 20.93%;
    top: 93.89%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

#boton_imprimir {
    position: absolute;
    width: 12.17%;
    height: 4.83%;
    right: 3.02%;
    bottom: 2.98%;

    background: #00B9CA;
    box-shadow: 0px 2.99401px 2.99401px rgba(0, 0, 0, 0.6);
    border-radius: 7.48503px;
    border: #00B9CA;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4671px;
    line-height: 19px;
    color: #FFFFFF;
}

#boton_imprimir:hover {
    background: rgba(0, 117, 128, 0.982);
}

#boton_imprimir:active {
    background: #ffffff;
    color: rgba(0, 117, 128, 0.982);
    border: 1.5px solid rgba(0, 117, 128, 0.982);
}

@media (max-width: 767px) {
    .titulo {
        height: 7.76%;
    }

    h1 {
        font-size: 32px;
        line-height: 37px;
    }

    .filtro label {
        left: 2.57%;
        top: 9.87%;
    }

    .filtro input {
        height: 29px;
        width: 72.66%;
        left: 14.25%;
        top: 9.29%;
    }

    hr {
        top: 15.4%;
    }

    .grafico1 h2 {
        left: 24.53%;
        top: 18.22%;
    }

    .grafico1 img {
        width: 100%;
        height: 29.16%;
        left: 0%;
        top: 23.44%;
    }

    .grafico2 h2 {
        left: 27.1%;
        top: 54.88%;
    }

    .grafico2 img {
        width: 100%;
        height: 29.45%;
        left: 0%;
        top: 60.1%;
    }

    #total1 {
        left: 2.34%;
        top: 93.42%;
    }

    #num1 {
        left: 43.93%;
        top: 93.66%;
    }

    #total2 {
        left: 2.34%;
        top: 98.24%;
    }

    #num2 {
        left: 43.93%;
        top: 98.24%;
    }

    #boton_imprimir {
        width: 29.21%;
        left: 35.28%;
        top: 103.76%;
    }
}