{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
<section>
    <div class="titulo_superior">
        <h2>Tu empresa</h2>
    </div>
    <div class="contenedor_tabla">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>NIT</th>
                    <th>Dueño</th>
                    <th>Sitio web</th>
                    <th>Razón social</th>
                    <th>Acciones</th>
                </tr>
                </tr>
            </thead>
            <tbody>

                {% for empresa in empresa %}
                <tr>
                    
                        <td>{{empresa.empr_nombre}}</td>
                        <td>{{empresa.empr_nit}}</td>
                        <td>{{empresa.empr_dueno}}</td>
                        <td>{{empresa.empr_sitio_web}}</td>
                        <td>{{empresa.empr_razon_social}}</td>
                        <td>
                            <a href="#">
                                <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar ciudad">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                            </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<section>
    <div>
        <div>
            <h2>Registra tu empresa aquí</h2>
        </div>
        <form action="" method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <div class="frame_b">
                <button type="submit" value="Guardar" id="btn_guardar">Guardar</button>
                <button type="reset" value="Cacelar" id="btn_cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</section>
<a href="{% url 'sucursales' %}">Sucursales</a>
{% endblock contenido %}