{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/frm_registrar_cliente.css' %}">
{% endblock css %}


{% block contenido %}
<section>
    <div class="titulo">
        <h1>Registrar un nuevo cliente</h1>
    </div>

    <form action="" method="POST">
        <img src="{% static 'img/registrar_cliente_empleado.svg' %}" alt="Icono clientes" id="img1">
        {{form|crispy}}
        {% csrf_token %}
        <div class="frame_b">
            <button type="submit" value="Guardar" id="btn_guardar">Guardar</button>
            <button type="reset" value="Cancelar" id="btn_cancelar">Cancelar</button>
        </div>
    </form>
</section>

{% endblock contenido %}


{% block js %}
<script>
    $(function () {
        $("#sidebarToggle").click();
        $("#id_tbl_ciudades_idciudad").select2({
            placeholder:"Selecciona una ciudad o municipio",
            allowClear:true,
            width:"100%",
        });
    });
</script>
{% endblock js %}