{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/frm_registrar_empleados.css' %}">
{% endblock css %}


{% block contenido %}    
<div class="titulo_superior">
    <h1>Registrar nuevo empleado</h1>
</div>
<section>
    <form action="" method="POST">
       
        <img src="{% static 'img/registrar_cliente_empleado.svg' %}" alt="Imgem aluciva a empleados" id="img1">
        {{form|crispy}}
        {% csrf_token %}
        <div class="frame_b">
            <button type="submit" id="btn_guardar">Guardar</button>
            <button type="reset" id="btn_cancelar">Cancelar</button>
        </div>
    </form>
</section>
{% endblock contenido %}


{% block js %}
<script>
    $(function () {
        $("#sidebarToggle").click();
        $("#id_tbl_ciudad_idciudad").select2({
            placeholder:"Selecciona una ciudad",
            allowClear:true,
            width:"100%",
        });
    });
</script>
{% endblock js %}
