{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/frm_crear_orden_servicio.css' %}">
{% endblock css %}


{% block contenido %}
<section>
  <div class="titulo_superior">
      <h1>Registra tus órdenes aquí</h1>
  </div>
  <div class="form_ordenes">
      <div class="sub_frm_ord">
        <h2>Agregar Órden</h2>
      </div>
      <form action="" method="POST" class="form_orden">
          {% csrf_token %}
          {{form|crispy}}
          <input type="hidden" name="modal-status" id="modal-status" value="{{modal_status}}">
          <button class="btn_agregar" name="form-crear">Agregar Órden</button>
      </form>
  </div>
  <div class="contenedor_secundario">
      <div class="titulo_tabla">
          <h2>Gestiona tus órdenes</h2>
      </div>
      <div class="contenedor_tabla">
          <table>
              <thead>
                  <tr>
                      <th>Empleado</th>
                      <th>Fecha de registro</th>
                      <th>Entrega</th>
                      <th>Cliente</th>
                      <th>Identificación</th>
                      <th>Celular</th>
                      <th>Servicio</th>
                      <th>Vehiculo</th>
                      <th>Estado</th>
                      <th>Informe técnico</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>

                  {% for orden in ordenes %}
                  <tr>
                      <td>{{orden.tbl_empleados_idempleado}}</td>
                      <td>{{orden.ord_s_fecha}}</td>
                      <td>{{orden.ord_s_fecha_entrega}}</td>
                      <td>{{orden.tbl_clientes_idcliente}}</td>
                      <td>{{orden.ord_s_identificacion_cli}}</td>
                      <td>{{orden.ord_s_celular_cli}}</td>
                      <td>{{orden.tbl_servicos_idservicio}}</td>
                      <td>{{orden.ord_s_vehiculo}}</td>
                      <td>{{orden.ord_s_estado_pago}}</td>
                      <td>{{orden.ord_s_informe_tecnico}}</td>
                      <td class="d-flex flex-row">
                            {% csrf_token %}
                            <a href="{% url 'detalle_orden_servicio' orden.id %}">
                                <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar orden">
                            </a>
                            <a href="#" onclick="eliminar_registros({{orden.id}})" class="reset">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón eliminar" class="btn_eliminar" title="Mover a papelera">
                            </a>
                      </td>
                  </tr>
                  {% endfor %}

              </tbody>
          </table>
      </div>
  </div>
</section>
{% endblock contenido %}

{% block js %}
<script>
    $(function () {
        $("#sidebarToggle").click();
        $("#id_tbl_clientes_idcliente").select2({
            placeholder:"Selecciona un cliente",
            allowClear:true,
            width:"100%",
        });
        $("#id_tbl_servicos_idservicio").select2({
            placeholder:"Selecciona un servicio",
            allowClear:true,
            width:"100%",
        });
    });
</script>
{% endblock js %}