{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_ciu_municipios.css' %}">
{% endblock css %}


{% block contenido %}
<section>
    <div class="titulo_superior">
        <h2>Ciudades y municipios guardados</h2>
    </div>
    <div class="contenedor_form">
        <form method="GET">
            <label for="CiuBusqueda" class="label_buscar">Buscar ciudad:</label>
            <input type="search" name="ciu_busqueda" id="CiuBusqueda" value="{{request.GET.ciu_busqueda}}" placeholder="Buscar">
    
            <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="contenedor_tabla">
        <table>
            <thead>
                <tr>
                    <th>Código Nacional:</th>
                    <th>Ciudad o municipio</th>
                    <th>Departamento</th>
                    {% if perms.usuarios.delete_ciudades or perms.usuarios.change_ciudades %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
                </tr>
            </thead>
            <tbody>

                {% for ciudad in ciudades %}
                <tr>
                    
                        <td>{{ciudad.id_ciudad}}</td>
                        <td>{{ciudad.ciu_nombre}}</td>
                        <td>{{ciudad.tbl_departamento_iddepart}}</td>
                        {% if perms.usuarios.delete_ciudades or perms.usuarios.change_ciudades %}
                        <td>
                            
                            {% if perms.usuarios.change_ciudades %}
                            <a href="{% url 'editar_ciudad' ciudad.pk %}">
                                <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar ciudad">
                            </a>
                            {% endif %}

                            {% if perms.usuarios.delete_ciudades %}                           
                            <a href="#" onclick="eliminar_registros({{ ciudad.pk }})">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                            </a>
                            {% endif %}

                        </td>
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <img src="{% static 'img/ilustracion_ciudades.svg' %}" alt="Ilustración relativa a ciudades" id="img1">
    <a href="#" id="btn_anadir" title="Añadir nueva ciudad">Añadir</a>
</section>    
<section class="modal-form ">
    <div class="container_modal-form">
        <div class="container_h2-form">
            <h2>Añadir nueva ciudad o municipio</h2>
            <a href="#" class="modal_close-form container_cerrar-form">
                <img src="{% static 'img/cerrar.svg' %}" alt="">
            </a>
        </div>
        <img src="{% static 'img/ilustracion_ciudades.svg' %}" alt="Imagen ilustrativa a ciudades" id="img2">
        {% if perms.usuarios.add_ciudades %}
        <form action="" method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <div class="frame_b">
                <button type="submit" value="Guardar" id="btn_guardar">Guardar</button>
                <button type="reset" value="Cacelar" id="btn_cancelar">Cancelar</button>
            </div>
        </form>
        {% endif %}
    </div>
</section>
{% endblock contenido %}


{% block js %}
<script>
    $(function () {
        $("#sidebarToggle").click();
        $("#id_tbl_departamento_iddepart").select2({
            placeholder:"Selecciona un departamento",
            allowClear:true,
            width:"100%",
        });
    });
</script>
<script src="{% static 'js/interfaz_ciu_municipios.js' %}"></script>
{% endblock js %}