{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_vehiculos_en_taller.css' %}">
{% endblock css %}


{% block contenido %}
<section>
    <div id="titulo_superior">
        <h1>Estos vehículos están aún dentro del taller</h1>
    </div>
    <form method="GET">
        <label for="idVehTBusqueda" class="label_buscar">Buscar vehículo:</label>
        <input type="search" name="veh_busqueda" id="idVehTBusqueda" value="{{request.GET.veh_busqueda}}" placeholder="Buscar">

        <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Propietario</th>
                    <th>En taller</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Marca</th>
                    <th>Versión</th>
                    <th>Año</th>
                    <th>Chasis_VIN</th>
                    <th>Motor</th>
                    <th>Última fecha ingreso</th>
                    <th>Última fecha salida</th>
                    <th>informe técnico</th>
                    
                    {% if perms.usuarios.change_vehiculo or perms.usuarios.delete_vehiculo %}           
                        <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
  
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{vehiculo.id_matricula}}</td>
                    <td>{{vehiculo.tbl_cliente_ididentificacion}}</td>
                    <td>{{vehiculo.veh_taller}}</td>
                    <td>{{vehiculo.veh_modelo}}</td>
                    <td>{{vehiculo.veh_color}}</td>
                    <td>{{vehiculo.tbl_marcas_idmarca}}</td>
                    <td>{{vehiculo.veh_version}}</td>
                    <td>{{vehiculo.veh_anio}}</td>
                    <td>{{vehiculo.veh_chasis_vin}}</td>
                    <td>{{vehiculo.veh_motor}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_ingreso}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_salida}}</td>
                    <td>{{vehiculo.veh_informe_tecnico}}</td>
                    {% if perms.usuarios.change_vehiculo or perms.usuarios.delete_vehiculo %}           
                    <td>
                        
                        {% if perms.usuarios.change_vehiculo %}
                        <a href="{% url 'editar_vehiculo_taller' vehiculo.id %}">
                            <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar vehículo">
                        </a>
                        <a href="{% url 'sacar_vehiculo_taller' vehiculo.id %}">
                            <img src="{% static 'img/sacar_del_taller.svg' %}" alt="Botón sacar Vehículo del taller"
                                class="btn_mandar_al_taller" title="Sacar vehículo del taller">
                        </a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'registrar_vehiculo' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Boton añadir" id="btn_anadir" title="Añadir nuevo vehículo">
    </a>
</section>
{% endblock contenido %}