{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_ordenes_servicio.css' %}">
{% endblock css %}
    

{% block contenido %}
<section>
    <div class="titulo_superior">
        <h1>Órdenes de servicios</h1>
    </div>
    <!-- formulario de busqueda -->
    <form>
        <label for="idOrdSBusqueda" class="label_buscar_orden">Buscar órden:</label>
        <input type="search" name="OrdSBusqueda" id="idOrdSBusqueda" placeholder="Buscar">

        <label for="FiltroOrden-Servicio" class="label_filtrar">Filtrar:</label>
        <input list="FiltroOrden-Servicio" name="FiltroOrden-Servicio" id="css_propiedades_filtro" placeholder="Elige un filtro">
        <datalist id="FiltroOrden-Servicio">
            <option value="Mas recientes"> Opción 1</option>
            <option value="Menos recientes">Opción 2</option>
            <option value="Ordenes pagadas">Opción 3</option>
            <option value="Ordenes sin pagar">Opción 4</option>
            <option value="Mostrar todo">Opción 5</option>
        </datalist>
        <button type="submit" id="btn_mostrar_filtro">Mostrar filtro</button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estado de pago</th>
                    <th>Cliente</th>
                    <th>Responsable/Empleado</th>
                    <th>Servicio</th>
                    <th>Informe técnico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for orden_servicio in ordenes_servicio %}
                <tr>
                    <td>{{orden_servicio.id}}</td>
                    <td>{{orden_servicio.tbl_empleados_idempleado}}</td>
                    <td>{{orden_servicio}}</td>
                    <td>{{orden_servicio}}</td>
                    <td>{{orden_servicio}}</td>
                    <td>{{orden_servicio}}</td>
                    <td>{{orden_servicio}}</td>
                    <td>
                        <a href="#">
                            <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar órden">
                        </a>
                        <a href="#">
                            <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'crear_orden_servicio' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Boton añadir" id="btn_anadir" title="Crear nueva órden">
    </a>
</section>
{% endblock contenido %}
    