{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_detall_hist_ord_ser.css' %}">
{% endblock css %}
    

{% block contenido %}
<section>
    <div class="titulo_superior">
        <h1>Artículos de la órden de servicio</h1>
    </div>
    <!-- formulario de busqueda -->
    <form>
        <label for="idOrdSBusqueda" class="label_buscar_orden">Buscar órden:</label>
        <input type="search" name="OrdSBusqueda" id="idOrdSBusqueda" placeholder="Buscar">

        <label for="FiltroOrden-Servicio" class="label_filtrar">Filtrar:</label>
        <input list="FiltroOrden-Servicio" name="FiltroOrden-Servicio" id="css_propiedades_filtro" placeholder="Elige un filtro">
        <datalist id="FiltroOrden-Servicio">
            <option value="Mas recientes"> Opción 1</option>
            <option value="Menos recientes">Opción 2</option>
            <option value="Ordenes pagadas">Opción 3</option>
            <option value="Ordenes sin pagar">Opción 4</option>
            <option value="Mostrar todo">Opción 5</option>
        </datalist>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Órden de servicio</th>
                    <th>Artículos</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>
                {% for rel in rel %}
                <tr>
                    <td>{{rel.tbl_orden_servicio_idorden_servicio}}</td>
                    <td>{{rel.Ttbl_articulos_idarticulo}}</td>
                    <td>{{rel.art_cantidad}}</td>
                    <td>{{rel.art_precio}}</td>
                    <td>{{rel.art_costo}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock contenido %}
    