{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_departamentos.css' %}">
{% endblock css %}


{% block contenido %}
<section>
    <div class="titulo_superior">
        <h2>Departamentos guardados</h2>
    </div>
    <div class="contenedor_form">
        <form method="GET">
            <label for="DepBusqueda" class="label_buscar">Buscar depatamento:</label>
            <input type="search" name="dep_busqueda" id="DepBusqueda" value="{{request.GET.dep_busqueda}}" placeholder="Buscar">
    
            <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="contenedor_tabla">
        <table>
            <thead>
                <tr>
                    <th>Código nacional</th>
                    <th>Departamento</th>
                    
                    {% if perms.usuarios.change_departamentos or perms.usuarios.delete_departamentos %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for depart in departamentos %}
                <tr>
                    <td>{{depart.id_depart}}</td>
                    <td>{{depart.dep_nombre}}</td>
                    {% if perms.usuarios.change_departamentos or perms.usuarios.delete_departamentos %}
                    <td>
                        
                        {% if perms.usuarios.change_departamentos %}                             
                        <a href="{% url 'editar_departamento' depart.pk %}">
                            <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar departamento">
                        </a>
                        {% endif %}
                        
                        {% if perms.usuarios.delete_departamentos %}                            
                        <a href="#" onclick="eliminar_registros({{ depart.pk }})">
                            <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" class="btn_eliminar" title="Mover a papelera">
                        </a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <img src="{% static 'img/ilustracion_departamentos.svg' %}" alt="Ilustración relaacionada a departamentos"
        id="img1">
    
    {% if perms.usuarios.add_departamentos %}
    <a href="#" id="btn_anadir" title="Añadir nuevo departamento">Añadir</a>
    {% endif %}
</section>
<section class="modal-form ">
    <div class="container_modal-form">
        <div class="container_h2-form">
            <h2>Añadir nuevo departamento</h2>
            <a href="#" class="modal_close-form container_cerrar-form">
                <img src="{% static 'img/cerrar.svg' %}" alt="">
            </a>
        </div>
        <img src="{% static 'img/ilustracion_departamentos.svg' %}" alt="Imagen ilustrativa a ciudades" id="img2">
        {% if perms.usuarios.add_departamentos %}
        <form action="" method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <div class="frame_b">
                <button type="submit" value="Guardar" id="btn_guardar">Guardar</button>
                <button type="reset" value="Cacelar" id="btn_cancelar">Cancelar</button>
            </div>
        </form>
        {% endif %}
    </div>
</section>
{% endblock contenido %}


{% block js %}
<script src="{% static 'js/interfaz_departamentos.js' %}"></script>
{% endblock js %}