{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/rel_orden_servicio_articulos.css' %}">
{% endblock css %}


{% block contenido %}
<div class="titulo_superior">
    <h1>Agrega artículos a la orden de servicio</h1>
</div>

<div class="form_articulos">
    <div class="sub_articulos">
        <h2>Agregar Artículo (opcional)</h2>
    </div>
    
    {% if perms.usuarios.add_tblrelordenservicioarticulos %}
    <form action="" method="POST" class="form1">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn_agregar" name="agregar-producto">Agregar Artículo</button>
    </form>
    {% else %}
    <h5 class="control-group text_perms" id="div_id_Ttbl_articulos_idarticulo">Lo sentimos, no cuentas con los permisos editar esta orden.</h5>
    {% endif %}
</div>
<div class="contenedor_secundario">
    <div class="titulo_tabla">
        <h2>Agrega artículos a la orden</h2>
    </div>
    <div class="contenedor_tabla">
        <table>
            <thead>
                <tr>
                    <th>Órden de servicio</th>
                    <th>Artículos</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    
                    {% if perms.usuarios.delete_tblrelordenservicioarticulos %}
                        <th>Acciones</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for rel in rel %}
                <tr>
                    <td>{{rel.tbl_orden_servicio_idorden_servicio}}</td>
                    <td>{{rel.Ttbl_articulos_idarticulo}}</td>
                    <td>{{rel.art_cantidad}}</td>
                    <td>{{rel.art_precio}}</td>
                    <td>{{rel.art_costo}}</td>
                    {% if perms.usuarios.delete_tblrelordenservicioarticulos %}
                        <td>
                            <a href="#" onclick="quitar_art_rel_ord_art({{rel.id}})">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón eliminar" class="btn_eliminar"
                                    title="Quitar artículo">
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock contenido %}


    {% block js %}
    <!-- {{form.media.js}} -->
    <script>
        $(function () {
            $("#sidebarToggle").click();
            $("#id_Ttbl_articulos_idarticulo").select2({
                placeholder: "Selecciona un artículo",
                allowClear: true,
                width:"100%",
            });
        });
    </script>
    {% endblock js %}