{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/vehiculos_registrados.css' %}">
{% endblock css %}


{% block contenido %}
<section>
    <div class="titulo_superior">
        <h1>Vehículos registrados</h1>
    </div>
    <!-- formulario de busqueda -->
    <form method="GET">
        <label for="idVehBusqueda" class="label_buscar_vehiculo">Buscar vehículo:</label>
        <input type="search" name="buscar" id="idVehBusqueda" value="{{request.GET.buscar}}" placeholder="Buscar">

        <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Propietario</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Marca</th>
                    <th>Versión</th>
                    <th>Año</th>
                    <th>Chasis_VIN</th>
                    <th>Motor</th>
                    <th>Última fecha ingreso</th>
                    <th>Última fecha salida</th>
                    <th>informe técnico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{vehiculo.id_matricula}}</td>
                    <td>{{vehiculo.tbl_cliente_ididentificacion}}</td>
                    <td>{{vehiculo.veh_modelo}}</td>
                    <td>{{vehiculo.veh_color}}</td>
                    <td>{{vehiculo.tbl_marcas_idmarca}}</td>
                    <td>{{vehiculo.veh_version}}</td>
                    <td>{{vehiculo.veh_anio}}</td>
                    <td>{{vehiculo.veh_chasis_vin}}</td>
                    <td>{{vehiculo.veh_motor}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_ingreso}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_salida}}</td>
                    <td>{{vehiculo.veh_informe_tecnico}}</td>
                    <td class="flex">
                        <a href="{% url 'editar_vehiculo' vehiculo.id %}">
                            <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar"
                                title="Editar vehículo">
                        </a>
                        <a href="{% url 'ingresar_vehiculo_taller' vehiculo.id %}">
                            <img src="{% static 'img/ingresar_al_taller.svg' %}" alt="Botón ingresar Vehículo al taller"
                                class="btn_mandar_al_taller" title="Ingresar vehículo al taller">
                        </a>
                        <a href="#" onclick="eliminar_registros({{ vehiculo.id }})">
                            <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar"
                                title="Mover a papelera">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'registrar_vehiculo' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Boton añadir" id="btn_anadir" title="Añadir nuevo vehículo">
    </a>
</section>
{% endblock contenido %}

{% block js %}

{% endblock js %}