{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/frm_detalle_fac_venta.css' %}">
{% endblock css %}


{% block contenido %}
<div class="titulo_superior">
    <h1>Agrega artículos de la factura</h1>
</div>

<div class="form_articulos">
    <div class="sub_articulos">
        <h2>Agregar Artículo</h2>
    </div>
    
    {% if perms.facturacion.add_detallefacturaventa %}
    <form action="" method="POST" class="form1">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn_agregar" name="agregar-producto">Agregar Artículo</button>
    </form>
    {% else %}
    <h5 class="control-group text_perms" id="div_id_tbl_articulos_idarticulo">Lo sentimos, no cuentas con los permisos editar esta orden.</h5>
    {% endif %}
</div>
<div class="contenedor_secundario">
        <div class="titulo_tabla">
            <h2>Agrega artículos a la factura</h2>
        </div>
        <div class="contenedor_tabla">
            <table>
                <thead>
                    <tr>
                        <th>Factura</th>
                        <th>Artículo</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        
                        {% if perms.facturacion.delete_detallefacturaventa %}
                        <th>Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                    <tr>
                        <td>{{detalle.tbl_facturas_idfactura}}</td>
                        <td>{{detalle.tbl_articulos_idarticulo}}</td>
                        <td>${{detalle.dep_precio}}</td>
                        <td>{{detalle.dep_cantidad}}</td>
                        <td>${{detalle.dep_total}}</td>
                        {% if perms.facturacion.delete_detallefacturaventa %}
                        <td>
                            <a href="#" onclick="eliminar_art_detalle_fac({{detalle.id}}, {{detalle.tbl_facturas_idfactura}})">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón eliminar" class="btn_eliminar" title="Quitar artículo">
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock contenido %}


    {% block js %}
    <script>
        $(function () {
            $("#sidebarToggle").click();
            $("#id_tbl_articulos_idarticulo").select2({
                placeholder:"Seleccione un artículo",
                allowClear:true,
            });
        });
    </script>
    {% endblock js %}