{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
 <link rel="stylesheet" href="{% static 'css/interfaz_articulos.css' %}">
{% endblock css %}
    

{% block contenido %}
    <section>
        <div id="titulo_superior">
            <h1>Artículos registrados</h1>
        </div>
        <form method="GET">
            <label for="idbuscar_articulo" class="label_buscar_articulo">Buscar artículo:</label>
            <input type="search" name="art_busqueda" id="idbuscar_articulo" value="{{request.GET.art_busqueda}}" placeholder="Buscar">
    
            <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
        </form>
        <div class="container_tabla">
            <table>
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Categoría</th>
                        <th>Stock</th>
                        <th>Precio unit</th>
                        <th>Stock mín.</th>
                        <th>Stock máx.</th>
                        <th>Proveedor</th>
                        
                        {% if perms.articulos.change_articulos or perms.articulos.delete_articulos %}               
                        <th>Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                
                {% for articulo in articulos %}            
                    <tr>
                        <td class="align moddle text-center">
                            <img class="rounded-circle" src="{{ MEDIA_URL }}{{articulo.art_foto.url}}" width="50" height="50" alt="Foto artículo">
                        </td>
                        <td>{{articulo.pk}}</td>
                        <td>{{articulo.art_nombre}}</td>
                        <td>{{articulo.tbl_marcas_idmarca}}</td>
                        <td>{{articulo.tbl_categoria_idcategoria}}</td>
                        <td>{{articulo.art_stock_disp}}</td>
                        <td>${{articulo.art_precio}}</td>
                        <td>{{articulo.art_stock_minimo}}</td>
                        <td>{{articulo.art_stock_maximo}}</td>
                        <td>{{articulo.tbl_proveedores_idproveedor}}</td>
                        {% if perms.articulos.change_articulos or perms.articulos.delete_articulos %}               
                        <td> 
                            
                            {% if perms.articulos.change_articulos %}                                
                            <a href="{% url 'editar_articulo' articulo.id %}">
                                <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar artículo">
                            </a>
                            {% endif %}
                            
                            {% if perms.articulos.delete_articulos %}
                            <a href="#" onclick="eliminar_registros({{ articulo.id }})">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                            </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'registrar_articulo' %}" id="ancla">
            <img src="{% static 'img/anadir.svg' %}" alt="Icono añadir proveedor" title="Añadir nuevo artículo">
        </a>
    </section>
{% endblock contenido %}