{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_proveedores.css' %}">
{% endblock css %}


{% block contenido %}
<div id="titulo_superior">
    <h1>Proveedores registrados</h1>
</div>
<form method="GET">
    <label for="idbuscar_proveedor" class="label_buscar_proveedores">Buscar proveedor:</label>
    <input type="search" name="pro_busqueda" id="idbuscar_proveedor" value="{{request.GET.pro_busqueda}}" placeholder="Buscar">

    <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
</form>
<div class="container_tabla">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nit_Referencia</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Persona_Nat</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Sitio Web</th>
                
                {% if perms.articulos.change_proveedores or perms.articulos.delete_proveedores %}       
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        
        {% for proveedor in proveedores %}
        <tr>
            <td>{{proveedor.pk}}</td>
            <td>{{proveedor.pro_nit}}</td>
            <td>{{proveedor.pro_nombre}}</td>
            <td>{{proveedor.pro_categoria}}</td>
            <td>{{proveedor.pro_persona_nat}}</td>
            <td>{{proveedor.pro_direccion}}</td>
            <td>{{proveedor.pro_telefono}}</td>
            <td>{{proveedor.pro_celular}}</td>
            <td>{{proveedor.pro_email}}</td>
            <td>{{proveedor.pro_sitio_web}}</td>
            {% if perms.articulos.change_proveedores or perms.articulos.delete_proveedores %}       
            <td>
                
                {% if perms.articulos.change_proveedores %}                    
                <a href="{% url 'editar_proveedor' proveedor.id %}">
                    <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar proveedor">
                </a>
                {% endif %}
                
                {% if perms.articulos.delete_proveedores %}
                <a href="#" onclick="eliminar_registros({{ proveedor.id }})">
                    <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                </a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<a href="{% url 'registrar_proveedor' %}" id="ancla">
    <img src="{% static 'img/anadir.svg' %}" alt="Icono añadir proveedor" title="Añadir nuevo proveedor">
</a>
{% endblock contenido %}