{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
 <link rel="stylesheet" href="{% static 'css/interfaz_articulos.css' %}">
{% endblock css %}
    

{% block contenido %}
    <section>
        <div id="titulo_superior">
            <h1>Artículos registrados</h1>
        </div>
        <form>
            <label for="idbuscar_articulo" id="label_buscar_articulo">Buscar artículos:</label>
            <input type="search" name="BuscarArticulo" id="idbuscar_articulo" placeholder="Buscar">
            
            <label for="FiltroArticulos" id="label_filtrar">Filtrar:</label>
            <input list="FiltroArticulos" name="FiltroArticulos" id="css_propiedades_filtro" placeholder="Elige un filtro">
            <datalist id="FiltroArticulos">
                <option value="Artículos sin stock">Opción 1</option>
                <option value="Artículos con stock menor a 5">Opción 2</option>
                <option value="Artículos de la categoria buscada">Opción 3</option>
                <option value="Artículos del proveedor buscado">Opción 4</option>
                <option value="Artículos mas vendidos">Opción 5</option>
                <option value="Artículos con menos ventas">Opción 6</option>
                <option value="Mostrar todo"></option>
            </datalist>
            <button type="submit" id="btn_mostrar_filtro">Mostrar filtro</button>
        </form>
        <div class="container_tabla">
            <table>
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Categoría</th>
                        <th>Stock</th>
                        <th>Precio unit</th>
                        <th>Stock mín.</th>
                        <th>Stock máx.</th>
                        <th>Proveedor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                {% for articulo in articulos %}            
                    <tr>
                        <td class="align moddle text-center">
                            <img class="rounded-circle" src="{{ MEDIA_URL }}{{articulo.art_foto.url}}" width="50" height="50" alt="">
                        </td>
                        <td>{{articulo.pk}}</td>
                        <td>{{articulo.art_nombre}}</td>
                        <td>{{articulo.tbl_marca_articulos_idmarca_articulo}}</td>
                        <td>{{articulo.tbl_categoria_idcategoria}}</td>
                        <td>{{articulo.art_stock_disp}}</td>
                        <td></td>
                        <td>{{articulo.art_stock_minimo}}</td>
                        <td>{{articulo.art_stock_maximo}}</td>
                        <td>{{articulo.tbl_proveedores_idproveedor}}</td>
                        <td> 
                            <a href="{% url 'editar_articulo' articulo.id %}">
                                <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar artículo">
                            </a>
                            <a href="{% url 'eliminar_articulo' articulo.id %}">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'registrar_articulo' %}" id="ancla">
            <img src="{% static 'img/anadir.svg' %}" alt="Icono añadir proveedor" title="Añadir nuevo artículo">
        </a>
    </section>
{% endblock contenido %}