{% extends 'partials/body_login.html' %}
{% load static %}


{% block contenido %}
<div class="container w-75 bg-primary mt-5 rounted shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded fondo1">
            <div class="bg">
                <img src="{% static 'img/Portada.jpg' %}" width="500px" alt="200px">
            </div>

        </div>
        <div class="col bg-white p-4 rounded-end">
            <div class="text-end">
                <img src="{% static 'img/logo racing.png' %}" width="55" alt="">
            </div>
            <h2 class="fw-bold text-center py5">Bienvenido</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="text" class="form-label">Usuario</label>
                    {{form.username}}
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    {{form.password}}
                </div>
                <div class="mb-4">
                    <input type="checkbox" name="connected" class="form-check-input">
                    <label for="connected" class="form-check-label">Recordar usuario y contraseña</label>
                </div>
                <div class="row text-end">
                    <span><a href="{% url 'password_reset' %}" class="btn_olvidar_contrasena">¿Olvidaste tu
                            contraseña?</a></span>
                </div>
                <!-- data-bs-toggle="modal" href="#exampleModalToggle" -->
                <div class="d-grid">
                    <input id="btn_enviar" type="submit" class="btn btn_color_1 mx-3" value="Acceder">
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock contenido %}