{% extends 'partials/body_login.html' %}
{% load static %}


{% block contenido %}
<section>
    <div class="modal3 ">
        <div class="container_modal3">
            <a href="{% url 'password_reset_done' %}">
                <img src="{% static 'img/atras1.svg' %}" alt="Retroceder" title="Volver atrás" id="atras3"
                    class="modal_close3">
            </a>
            <h2>Restablecer la contraseña</h2>
            <h5>Empresa: Guerrero Racing</h5>
            <form action="" method="post">
                {% csrf_token %}
                <label for="id_new_password1" id="label1_m3">Ingresa tu nueva contraseña de mínimo ocho dígitos, una
                    mayúscula, una minúscula, cuatro números y un carácter especial:</label>
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" autofocus>
                <label for="id_new_password2" id="label2_m3">Confirme contraseña:</label>
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                <input type="submit" id="btn_siguiente3" value="Siguiente">
            </form>
        </div>
</section>
{% endblock contenido %}
    