{% extends 'partials/body_login.html' %}
{% load static %}


{% block contenido %}
<section>
    <div class="modal4 ">
        <div class="container_modal4">
            <img src="{% static 'img/operacion_existosa.svg' %}" alt="Operación exitosa" id="operacion_existosa">
            <h2>¡Operación exitosa!</h2>
            <p>Su contraseña se ha reestablecido con éxito, por favor vuelve a iniciar sesión</p>
            <a href="{% url 'login' %}" id="btn_aceptar_m4">Aceptar</a>
        </div>
</section>
{% endblock contenido %}
    