{% extends 'partials/body_login.html' %}
{% load static %}


{% block contenido %}
<section>
    <div class="modal3 ">
        <div class="container_modal3">
            <a href="{% url 'password_reset_done' %}">
                <img src="{% static 'img/atras1.svg' %}" alt="Retroceder" title="Volver atrás" id="atras3"
                    class="modal_close3">
            </a>
            <h2>Restablecer la contraseña</h2>
            <h5>Empresa: Guerrero Racing</h5>
            <form action="">
                <label for="idcontrasena_r" id="label1_m3">Ingresa tu nueva contraseña de mínimo ocho dígitos, una
                    mayúscula, una minúscula, cuatro números y un carácter especial:</label>
                <input type="password" name="contrasena_r" id="idcontrasena_r1" placeholder="Nueva contraseña"
                    required autofocus>
                <label for="idcontrasena_r2" id="label2_m3">Repite tu contraseña:</label>
                <input type="password" name="contrasena_r2" id="idcontrasena_r2"
                    placeholder="Vuelve a escribir la contraseña" required>
                <button type="submit" id="btn_siguiente3">Siguiente</button>
            </form>
        </div>
</section>
{% endblock contenido %}
    