{% extends 'partials/body_login.html' %}
{% load static %}


{% block contenido %}
<section>
    <div class="modal2 ">
        <div class="container_modal2">
            <a href="#">
                <img src="img/atras1.svg" alt="Retroceder" title="Volver atrás" id="atras2" class="modal_close2">
            </a>
            <h2>Recuperar tu cuenta</h2>
            <h5>Empresa: Guerrero Racing</h5>
            <h5 id="h5-2_m2">¡Hola!</h5>
            <h5 id="label1_m2">Se ha enviado un link de recuperación al correo recibido</h5>
            <a href="{% url 'login' %}" id="btn_entendido">Entendido</a>
        </div>
</section>
{% endblock contenido %}
    