{% extends 'partials/body_login.html' %}
{% load static %}


{% block contenido %}
<section>
    <div class="modal1">
        <div class="container_modal1">
            <a href="{% url 'login' %}">
                <img src="{% static 'img/atras1.svg' %}" alt="Retroceder" title="Volver atrás" id="atras1"
                    class="modal_close1">
            </a>
            <h2>Recuperar tu cuenta</h2>
            <h5>Empresa: Guerrero Racing</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="idnombre_usuario" id="label1">Ingresa tu nombre completo igual como te habías registrado
                    en el sistema:</label>
                <input type="text" name="nombre_usuario" id="idnombre_usuario" placeholder="Nombres y apellidos"
                    required autofocus>
                <label for="idcorreo_usuario" id="label2">Ingresa la dirección de correo electrónico con el que te
                    habías registrado: </label>
                <input type="email" name="email" autocomplete="email" maxlength="254" id="id_email"
                    placeholder="Dirección de correo electrónico" required>
                <button type="submit" id="btn_siguiente1">Siguiente</button>
            </form>
        </div>
</section>
{% endblock contenido %}
    