{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/frm_pedidos_compras.css' %}">
{% endblock css %}
    

{% block contenido %}
<div class="titulo">
    <h1>Registrar pedido o compra</h1>
  </div>
  <form action="" method="POST">
    {{form|crispy}}
    {% csrf_token %}
    <div class="frame_b">
      <button id="btn_guardar" type="submit ">Guardar</button>
      <button id="btn_cancelar" type="reset">Cancelar</button>
    </div>
    <img src="{% static 'img/pedidos_compras.svg' %}" alt="Icono alucivo a pedidos y compras" id="img1" id> 
  </form>
{% endblock contenido %}