{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_historial_dell_ord_compra.css' %}">
{% endblock css %}
    

{% block contenido %}
<section>
    <div class="titulo_superior">
        <h1>Artículos de la orden de compra</h1>
    </div>
    <h3 class="info1">Estas viendo los artículos que se agrgarón a la orden que seleccionaste</h3>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Artículos</th>
                    <th>Cantidad</th>
                    <th>Precio compra</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>
                {% for rel in rel %}
                <tr>
                    <td>{{rel.tbl_orden_compras_idorden_compra}}</td>
                    <td>{{rel.tbl_articulos_idarticulo}}</td>
                    <td>{{rel.rel_cantidad}}</td>
                    <td>{{rel.rel_precio}}</td>
                    <td>{{rel.rel_total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock contenido %}