{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/historial_de_compras.css' %}">
{% endblock css %}
    

{% block contenido %}
<section>
    <div id="titulo_superior">
        <h1>Historial de compras</h1>
    </div>
    <form method="GET">
        <label for="idbuscar_compra" class="label_buscar_compra">Buscar compra:</label>
        <input type="search" name="com_busqueda" id="idbuscar_compra" value="{{request.GET.com_busqueda}}" placeholder="Buscar">

        <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Costo total</th>
                    <th>Número pedido</th>
                    <th>Recepcionada por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
            {% for historial in pedidos %}            
                <tr>
                    <td>{{historial.ped_fecha_recivido}}</td>
                    <td>${{historial.ped_precio}}</td>
                    <td>{{historial.id}}</td>
                    <td>{{historial.ped_recivido_por}}</td>
                    <td> 
                        <a href="{% url 'historial_delt_pedido' historial.id %}">
                            <img src="{% static 'img/ver.svg' %}" alt="Botón ver detalles" title="Ver detalles">
                        </a>
                        <a href="#" onclick="eliminar_registros({{historial.id}})">
                            <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{% url 'registrar_pedido_compra' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Icono registrar compra" title="Registrar nueva compra o pedido">
    </a>
</section>
{% endblock contenido %}
    

{% block js %}
    
{% endblock js %}
    