{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/historial_ord_compras.css' %}">
{% endblock css %}
    

{% block contenido %}
<section>
    <div id="titulo_superior">
        <h1>Historial de compras</h1>
    </div>
    <form>
        <label for="idbuscar_orden_compra" id="label_buscar_orden_compra">Buscar compra:</label>
        <input type="search" name="BuscarOrdenCompra" id="idobuscar_orden_compra" placeholder="Buscar">
        
        <label for="FiltroOrdCompras" id="label_filtrar">Filtrar:</label>
        <input list="FiltroOrdCompras" name="FiltroOrdCompras" id="css_propiedades_filtro" placeholder="Elige un filtro">
        <datalist id="FiltroOrdCompras">
            <option value="Mas recientes">Opción 1</option>
            <option value="Menos recientes">Opción 2</option>
        </datalist>
        <button type="submit" id="btn_mostrar_filtro">Mostrar filtro</button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Costo</th>
                    <th>Número orden</th>
                    <th>Realizado por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
            {% for historial in historial_ord_compra %}            
                <tr>
                    <td>{{historial.ord_fecha}}</td>
                    <td>{{historial.ord_costo_total}}</td>
                    <td>{{historial.pk}}</td>
                    <td>{{historial.ord_empleado}}</td>
                    <td> 
                        <a href="#">
                            <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar Órden">
                        </a>
                        <a href="#">
                            <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{% url 'crear_orden_compra' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Icono registrar compra" title="Registrar nueva órden compra">
    </a>
</section>
{% endblock contenido %}
    

{% block js %}
    
{% endblock js %}
    