{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/historial_ord_compras.css' %}">
{% endblock css %}
    

{% block contenido %}
<section>
    <div id="titulo_superior">
        <h1>Historial de órdenes de compra</h1>
    </div>
    <form method="GET">
        <label for="idbuscar_orden_compra" class="label_buscar_orden_compra">Buscar orden:</label>
        <input type="search" name="ord_busqueda" id="idbuscar_orden_compra" value="{{request.GET.ord_busqueda}}" placeholder="Buscar">

        <button type="submit" id="btn_mostrar_filtro" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Número orden</th>
                    <th>Realizado por</th>
                    <th>Provedor</th>
                    <th>Término de pago</th>
                    <th>Ótras tarifas</th>
                    <th>Término de entrega</th>
                    <th>Costo</th>
                    
                    {% if perms.inventario.view_tblrelordencompraarticulos or perms.inventario.delete_ordencompra %}           
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            
            {% for historial in orden_compra %}            
                <tr>
                    <td>{{historial.ord_fecha}}</td>
                    <td>{{historial.id}}</td>
                    <td>{{historial.ord_empleado}}</td>
                    <td>{{historial.ord_proveedor}}</td>
                    <td>{{historial.ord_termino_pago}}</td>
                    <td>${{historial.ord_otras_tarifas}}</td>
                    <td>{{historial.ord_termino_entrega}}</td>
                    <td>${{historial.ord_costo_total}}</td>
                    {% if perms.inventario.view_tblrelordencompraarticulos or perms.inventario.delete_ordencompra %}           
                    <td> 
                        
                        {% if perms.inventario.view_tblrelordencompraarticulos %}                            
                        <a href="{% url 'historial_delt_ord_compra' historial.id %}">
                            <img src="{% static 'img/ver.svg' %}" alt="Botón ver detalles" id="btn_editar" title="Ver detalles">
                        </a>
                        {% endif %}
                        
                        {% if perms.inventario.delete_ordencompra %}
                        <a href="#" onclick="eliminar_registros({{historial.id}})">
                            <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Eliminar">
                        </a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{% url 'ordenes_compra' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Icono registrar nueva órden" title="Registrar nueva órden compra">
    </a>
</section>
{% endblock contenido %}
    

{% block js %}
    
{% endblock js %}