{% extends 'partials/bodyApp.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_ciu_municipios.css' %}">
{% endblock css %}


{% block contenido %}
<section>
    <div class="titulo_superior">
        <h2>Ciudades y municipios guardados</h2>
    </div>
    <div class="contenedor_form">
        <form>
            <label for="CiuBusqueda" class="label_buscar">Buscar ciudad:</label>
            <input type="search" name="CiuBusqueda" id="CiuBusqueda" placeholder="Buscar">

            <label for="FiltroCiudades" class="label_filtrar">Filtrar:</label>
            <input list="FiltroCiudades" name="FiltroCiudades" id="css_propiedades_filtro"
                placeholder="Elige un filtro">
            <datalist id="FiltroCiudades">
                <option value="A-Z">Opción 1</option>
                <option value="Z-A">Opción 2</option>
            </datalist>
            <button type="submit" id="btn_mostrar_filtro">Mostrar filtro</button>
        </form>
    </div>
    <div class="contenedor_tabla">
        <table>
            <thead>
                <tr>
                    <th>Código Nacional:</th>
                    <th>Ciudad o municipio</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
                </tr>
            </thead>
            <tbody>

                {% for ciudad in ciudades %}
                <tr>
                    
                        <td>{{ciudad.idCiudad}}</td>
                        <td>{{ciudad.CiuNombre}}</td>
                        <td>{{ciudad.TblDepartamento_idDepart}}</td>
                        <td>
                            <a href="{% url 'editar_ciudad' ciudad.id %}">
                                <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar ciudad">
                            </a>
                            <a href="{% url 'eliminar_ciudad' ciudad.id %}">
                                <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                            </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <img src="{% static 'img/ilustracion_ciudades.svg' %}" alt="Ilustración relativa a ciudades" id="img1">
    <a href="#" id="btn_anadir" title="Añadir nueva ciudad">Añadir</a>
</section>
<section class="modal-form ">
    <div class="container_modal-form">
        <div class="container_h2-form">
            <h2>Añadir nueva ciudad o municipio</h2>
            <a href="#" class="modal_close-form container_cerrar-form">
                <img src="{% static 'img/cerrar.svg' %}" alt="">
            </a>
        </div>
        <img src="{% static 'img/ilustracion_ciudades.svg' %}" alt="Imagen ilustrativa a ciudades" id="img2">
        <form action="" method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <div class="frame_b">
                <button type="submit" value="Guardar" id="btn_guardar">Guardar</button>
                <button type="reset" value="Cacelar" id="btn_cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</section>
{% endblock contenido %}


{% block js %}
<script src="{% static 'js/interfaz_ciu_municipios.js' %}"></script>
<script src="{% static 'js/libreria_mensajes_emergentes.js' %}"></script>
{% endblock js %}