{% extends 'partials/bodyApp.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_clientes.css' %}">
{% endblock css %}

{% block contenido %}
    
<section class="container_general">
    <div class="titulo_superior">
        <h1 class="text-center py-2">Clientes Registrados</h1>
    </div>
    <!-- formulario de busqueda -->
    <form>
        <label for="idCliBusqueda" class="label_buscar_cliente">Buscar cliente:</label>
        <input type="search" name="CliBusqueda" id="idCliBusqueda" placeholder="Buscar">

        <label for="FiltroClientes" class="label_filtrar">Filtrar:</label>
            <input list="FiltroClientes" name="FiltroClientes" id="css_propiedades_filtro" placeholder="Elige un filtro">
            <datalist id="FiltroClientes">
                <option value="Solo clientes con vehiculos"> Opción 1</option>
                <option value="Clientes sin vehiculo registrado">Opción 2</option>
                <option value="Mostrar numero de clientes registrados">Opción 3</option>
                <option value="Mostrar numero de hombre y mujeres registrados">Opción 4</option>
            </datalist>
            <button type="submit" id="btn_mostrar_filtro">Mostrar filtro</button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Tipo de documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Género</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                
                {% for cliente in clientes %}    
                <tr>
                    <td>{{cliente.idIdentificacion}}</td>
                    <td>{{cliente.CliTipoDocumento}}</td>
                    <td>{{cliente.CliNombres}}</td>
                    <td>{{cliente.CliApellidos}}</td>
                    <td>{{cliente.CliGenero}}</td>
                    <td>{{cliente.CliDireccion}}</td>
                    <td>{{cliente.CliCiudad}}</td>
                    <td>{{cliente.CliTelefono}}</td>
                    <td>{{cliente.CliCelular}}</td>
                    <td>{{cliente.CliEmail}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'registrar_cliente' %}" id="ancla"> 
        <img src="{% static 'img/anadir.svg' %}" alt="Boton añadir" id="btn_anadir" title="Añadir nuevo cliente">
    </a>
</section>

{% endblock contenido %}