{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_vehiculos_en_taller.css' %}">
{% endblock css %}


{% block contenido %}
<section>
    <form>
        <div id="titulo_superior">
            <h1>Estos vehículos están aun dentro del taller</h1>
        </div>
        <div>
            <label for="idVehTBusqueda" class="label_buscar_VehT">Buscar vehículo:</label>
            <input type="search" name="VehTBusqueda" id="idVehTBusqueda" placeholder="Buscar" required>

            <label for="FiltroVehiculosTaller" class="label_filtrar">Filtrar:</label>
            <input list="FiltroVehiculosTaller" name="FiltroVehiculosTaller" id="css_propiedades_filtro"
                placeholder="Elige un filtro" required>
            <datalist id="FiltroVehiculosTaller">
                <option value="Mas recientes">Opción 1</option>
                <option value="Menos recientes">Opción 2</option>
                <option value="Mostrar todo"></option>
            </datalist>
            <button type="submit" id="btn_mostrar_filtro">Mostrar filtro</button>
        </div>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Propietario</th>
                    <th>En taller</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Marca</th>
                    <th>Versión</th>
                    <th>Año</th>
                    <th>Chasis_VIN</th>
                    <th>Motor</th>
                    <th>Ultima fecha ingreso</th>
                    <th>Ultima fecha salida</th>
                    <th>informe técnico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
  
                {% for vehiculo in vehiculos %}
                <tr>
                    td>{{vehiculo.id_matricula}}</td>
                    <td>{{vehiculo.tbl_cliente_ididentificacion}}</td>
                    <td>{{vehiculo.veh_taller}}</td>
                    <td>{{vehiculo.veh_modelo}}</td>
                    <td>{{vehiculo.veh_color}}</td>
                    <td>{{vehiculo.tbl_marcas_idmarca}}</td>
                    <td>{{vehiculo.veh_version}}</td>
                    <td>{{vehiculo.veh_anio}}</td>
                    <td>{{vehiculo.veh_chasis_vin}}</td>
                    <td>{{vehiculo.veh_motor}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_ingreso}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_salida}}</td>
                    <td>{{vehiculo.veh_informe_tecnico}}</td>
                    <td>
                        <a href="{% url 'editar_vehiculo_taller' vehiculo.id %}">
                            <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar vehículo">
                        </a>
                        <a href="{% url 'sacar_vehiculo_taller' vehiculo.id %}">
                            <img src="{% static 'img/sacar_del_taller.svg' %}" alt="Botón sacar Vehículo del taller"
                                class="btn_mandar_al_taller" title="Sacar vehículo del taller">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'registrar_vehiculo' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Boton añadir" id="btn_anadir" title="Añadir nuevo vehículo">
    </a>
</section>
{% endblock contenido %}