{% extends 'partials/bodyApp.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_clientes.css' %}">
{% endblock css %}

{% block contenido %}

<section>
    <div class="titulo_superior">
        <h1 class="text-center py-2">Clientes Registrados</h1>
    </div>
    <!-- formulario de busqueda -->
    <form>
        <label for="idCliBusqueda" class="label_buscar_cliente">Buscar cliente:</label>
        <input type="search" name="CliBusqueda" id="idCliBusqueda" placeholder="Buscar">

        <label for="FiltroClientes" class="label_filtrar">Filtrar:</label>
        <input list="FiltroClientes" name="FiltroClientes" id="css_propiedades_filtro" placeholder="Elige un filtro">
        <datalist id="FiltroClientes">
            <option value="Solo clientes con vehiculos"> Opción 1</option>
            <option value="Clientes sin vehiculo registrado">Opción 2</option>
            <option value="Mostrar numero de clientes registrados">Opción 3</option>
            <option value="Mostrar numero de hombre y mujeres registrados">Opción 4</option>
        </datalist>
        <button type="submit" id="btn_mostrar_filtro">Mostrar filtro</button>
    </form>
    <div class="container_tabla">
        <table>
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Tipo de documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Género</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id_identificacion}}</td>
                    <td>{{cliente.cli_tipo_documento}}</td>
                    <td>{{cliente.cli_nombres}}</td>
                    <td>{{cliente.cli_apellidos}}</td>
                    <td>{{cliente.cli_genero}}</td>
                    <td>{{cliente.cli_direccion}}</td>
                    <td>{{cliente.tbl_ciudades_idciudad}}</td>
                    <td>{{cliente.cli_telefono}}</td>
                    <td>{{cliente.cli_celular}}</td>
                    <td>{{cliente.cli_email}}</td>
                    <td>
                        <a href="{% url 'editar_cliente' cliente.id %}">
                            <img src="{% static 'img/editar.svg' %}" alt="Botón editar" id="btn_editar" title="Editar cliente">
                        </a>
                        <a href="{% url 'eliminar_cliente' cliente.id %}">
                            <img src="{% static 'img/eliminar.svg' %}" alt="Botón editar" id="btn_eliminar" title="Mover a papelera">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'registrar_cliente' %}" id="ancla">
        <img src="{% static 'img/anadir.svg' %}" alt="Boton añadir" id="btn_anadir" title="Añadir nuevo cliente">
    </a>
</section>

{% endblock contenido %}