{% extends 'partials/bodyApp.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/frm_inicio_app.css' %}">
{% endblock css %}


{% block contenido %}

<div id="carusel_normal" class="carousel carousel-dark slide slider_normal" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carusel_normal" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carusel_normal" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carusel_normal" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="{% static 'img/P.Slider_1.jpg' %}" class="d-block w-100" alt="Slider 1">
      <div class="font-position-letter-carousel carousel-caption d-none d-md-block">
        <h5 class="font-carousel">Guerrero Racing</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'img/P.Slider_2.jpg' %}" class="d-block w-100" alt="Slider 2">
      <div class="font-position-letter-carousel carousel-caption d-none d-md-block">
        <h5 class="font-carousel">Guerrero Racing</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'img/P.Slider_3.jpg' %}" class="d-block w-100" alt="Slider 3">
      <div class="font-position-letter-carousel carousel-caption d-none d-md-block">
        <h5 class="font-carousel">Guerrero Racing</h5>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carusel_normal" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carusel_normal" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="carusel_resposive" class="carousel carousel-dark slide slider_responsive" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carusel_resposive" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carusel_resposive" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carusel_resposive" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="{% static 'img/P.Slider_1_responsive.png' %}" class="d-block w-100 img-fluid" alt="Slider 1">
      <div class="font-position-letter-carousel carousel-caption d-none d-md-block">
        <h5 class="font-carousel">Guerrero Racing</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'img/P.Slider_2_responsive.png' %}" class="d-block w-100 img-fluid" alt="Slider 2">
      <div class="font-position-letter-carousel carousel-caption d-none d-md-block">
        <h5 class="font-carousel">Guerrero Racing</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'img/P.Slider_3_responsive.png' %}" class="d-block w-100 img-fluid" alt="Slider 3">
      <div class="font-position-letter-carousel carousel-caption d-none d-md-block">
        <h5 class="font-carousel">Guerrero Racing</h5>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carusel_resposive" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carusel_resposive" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock contenido %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock js %}