{% extends 'partials/bodyApp.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_papelera.css' %}">
{% endblock css %}


{% block contenido %}
<div class="titulo_superior">
    <h1 class="text-center py-2">Papelera de reciclaje</h1>
</div>
<div class="cabecera">
    <p>Los siguientes registros aún se encuentran en la papelera</p>
    <hr>
    <img src="{% static 'img/papelera.svg' %}" alt="Ilustración de una papelera">
</div>
<section class="flex_container">
    <div class="titulo_tablas flex_item">
        <h2>Clientes</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Tipo de documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Género</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id_identificacion}}</td>
                    <td>{{cliente.cli_tipo_documento}}</td>
                    <td>{{cliente.cli_nombres}}</td>
                    <td>{{cliente.cli_apellidos}}</td>
                    <td>{{cliente.cli_genero}}</td>
                    <td>{{cliente.cli_direccion}}</td>
                    <td>{{cliente.tbl_ciudades_idciudad}}</td>
                    <td>{{cliente.cli_telefono}}</td>
                    <td>{{cliente.cli_celular}}</td>
                    <td>{{cliente.cli_email}}</td>
                    <td>
                        <a href="{% url 'restablecer_cliente' cliente.id %}">
                            <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                        </a>
                        <a href="{% url 'eliminar_def_cliente' cliente.id %}">
                            <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="titulo_tablas flex_item">
        <h2>Ciudades y municipios</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>Código Nacional:</th>
                    <th>Ciudad o municipio</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
                </tr>
            </thead>
            <tbody>

                {% for ciudad in ciudades %}
                <tr>

                    <td>{{ciudad.id_ciudad}}</td>
                    <td>{{ciudad.ciu_nombre}}</td>
                    <td>{{ciudad.tbl_departamento_idepart}}</td>
                    <td>
                        <a href="{% url 'restablecer_ciudad' ciudad.id %}">
                            <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                        </a>
                        <a href="{% url 'eliminar_def_ciudad' ciudad.id %}">
                            <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="titulo_tablas flex_item">
        <h2>Departamentos</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>Código nacional</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
                </tr>
            </thead>
            <tbody>

                {% for depart in departamentos %}
                <tr>
                    <td>{{depart.id_depart}}</td>
                    <td>{{depart.dep_nombre}}</td>
                    <td>
                        <a href="{% url 'restablecer_departamento' depart.id %}">
                            <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                        </a>                        
                        <a href="{% url 'eliminar_def_depart' depart.id %}">
                            <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="titulo_tablas flex_item">
        <h2>Marcas</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </tr>
            </thead>
            <tbody>

                {% for marca in marcas %}
                <tr>
                        <td>{{marca.pk}}</td>
                        <td>{{marca.mar_nombre}}</td>
                        <td>{{marca.mar_descripcion}}</td>
                        <td>
                            <a href="{% url 'restablecer_marca' marca.id %}">
                                <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                            </a>
                            <a href="{% url 'eliminar_def_marca' marca.id %}">
                                <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                            </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="titulo_tablas flex_item">
        <h2>Artículos</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                    <th>Precio unit</th>
                    <th>Stock mín.</th>
                    <th>Stock máx.</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
            {% for articulo in articulos %}            
                <tr>
                    <td class="align moddle text-center">
                        <img class="rounded-circle" src="{{ MEDIA_URL }}{{articulo.art_foto.url}}" width="50" height="50" alt="">
                    </td>
                    <td>{{articulo.pk}}</td>
                    <td>{{articulo.art_nombre}}</td>
                    <td>{{articulo.tbl_marca_articulos_idmarca_articulo}}</td>
                    <td>{{articulo.tbl_categoria_idcategoria}}</td>
                    <td>{{articulo.art_stock_disp}}</td>
                    <td></td>
                    <td>{{articulo.art_stock_minimo}}</td>
                    <td>{{articulo.art_stock_maximo}}</td>
                    <td>{{articulo.tbl_proveedores_idproveedor}}</td>
                    <td> 
                        <a href="{% url 'restablecer_articulo' articulo.id %}">
                            <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                        </a>
                        <a href="{% url 'eliminar_def_articulo' articulo.id %}">
                            <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="titulo_tablas flex_item">
        <h2>Categorías</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </tr>
            </thead>
            <tbody>

                {% for categoria in categorias %}
                <tr>
                    
                        <td>{{categoria.pk}}</td>
                        <td>{{categoria.cat_nombre}}</td>
                        <td>{{categoria.cat_descripcion}}</td>
                        <td>
                            <a href="{% url 'restablecer_categoria' categoria.id %}">
                                <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                            </a>
                            <a href="{% url 'eliminar_def_categoria' categoria.id %}">
                                <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                            </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="titulo_tablas flex_item">
        <h2>Proveedores</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nit_Referencia</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Persona_Nat</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Sitio Web</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
            {% for proveedor in proveedores %}
            <tr>
                <td>{{proveedor.pk}}</td>
                <td>{{proveedor.pro_nit}}</td>
                <td>{{proveedor.pro_nombre}}</td>
                <td>{{proveedor.pro_categoria}}</td>
                <td>{{proveedor.pro_persona_nat}}</td>
                <td>{{proveedor.pro_direccion}}</td>
                <td>{{proveedor.pro_telefono}}</td>
                <td>{{proveedor.pro_celular}}</td>
                <td>{{proveedor.pro_email}}</td>
                <td>{{proveedor.pro_sitio_web}}</td>
                <td>
                    <a href="{% url 'restablecer_proveedor' proveedor.id %}">
                        <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                    </a>
                    <a href="{% url 'eliminar_def_proveedor' proveedor.id %}">
                        <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="titulo_tablas flex_item">
        <h2>Vehículos</h2>
    </div>
    <div class="container_tabla flex_item">
        <table>
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Propietario</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Marca</th>
                    <th>Versión</th>
                    <th>Año</th>
                    <th>Chasis_VIN</th>
                    <th>Motor</th>
                    <th>Ultima fecha ingreso</th>
                    <th>Ultima fecha salida</th>
                    <th>informe técnico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
  
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{vehiculo.id_matricula}}</td>
                    <td>{{vehiculo.tbl_cliente_ididentificacion}}</td>
                    <td>{{vehiculo.veh_modelo}}</td>
                    <td>{{vehiculo.veh_color}}</td>
                    <td>{{vehiculo.tbl_marcas_idmarca}}</td>
                    <td>{{vehiculo.veh_version}}</td>
                    <td>{{vehiculo.veh_anio}}</td>
                    <td>{{vehiculo.veh_chasis_vin}}</td>
                    <td>{{vehiculo.veh_motor}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_ingreso}}</td>
                    <td>{{vehiculo.veh_ultima_fecha_salida}}</td>
                    <td>{{vehiculo.veh_informe_tecnico}}</td>
                    <td>
                        <a href="{% url 'restablecer_vehiculo' vehiculo.id %}">
                            <img src="{% static 'img/recuperar_desde_papelera.svg' %}" alt="Botón editar" class="btn_restablecer" title="Recuperar desde papelera">
                        </a>
                        <a href="{% url 'eliminar_def_vehiculo' vehiculo.id %}">
                            <img src="{% static 'img/eliminar_definitivamente.svg' %}" alt="Botón editar" class="btn_eliminar" title="Eliminar definitivamente">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock contenido %}