{% extends 'partials/bodyApp.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/interfaz_soporte_ayuda.css' %}">
{% endblock css %}


{% block contenido %}
<img src="{% static 'img/vector_fondo_pantalla2.svg' %}" alt="Fondo de pantalla" id="fondo_pantalla">
<img src="{% static 'img/vector_fondo_pantalla4.svg' %}" alt="Fondo de pantalla" id="fondo_pantalla2">
<div class="titulo_superior">
    <h1>Área de soporte y ayuda</h1>
</div>
<h2>¿Cómo podemos ayudarte?</h2>
<p class="p1">Aquí podrás buscar en nuestra base de datos las preguntas más frecuentes que normalmente surgen</p>
<img src="{% static 'img/area_soporte_ayuda.svg' %}" alt="Area de soporte y ayuda" class="img1">

<a href="https://drive.google.com/drive/folders/1bOXDAfgsR4zrALT7gK34e9tKY-Z-NiuF?usp=share_link" class="cuadro cuadro1" target="_blank">
    <div class="div_cuadro">
        <img src="{% static 'img/manual_usuario.svg' %}" alt="Imagen alusiva a manual de usuario">
        <h3>Manual de usuario</h3>
        <p>Revisa el manual de usuario, a lo mejor la inquietud que estas buscando se encuentra aquí.</p>
    </div>
</a>
<a href="#" class="cuadro cuadro2">
    <div class="div_cuadro">
        <img src="{% static 'img/preguntas_frecuentes.svg' %}" alt="Imagen alusiva a preguntas frecuentes">
    </div>
</a>
<a href="{% url 'nosotros' %}" class="cuadro cuadro3">
    <div class="div_cuadro">
        <img src="{% static 'img/solicitar_soporte.svg' %}" alt="Imagen alusiva a soporte">
        <h3>Solicitar soporte</h3>
        <p>También aquí puedes solicitar soporte directamente a los desarrolladores de (nombre del software).</p>
    </div>
</a>
{% endblock contenido %}